@page "/movies"

<PageTitle>Movies</PageTitle>

@using Imdb.Blazor.Data
@inject ImdbService ImdbService

<h1>Movies</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.MovieId</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Rating</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Movie[]? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await ImdbService.GetMovieAsync();
    }
}
